<div class="w-full overflow-hidden rounded-sm border bg-card shadow-sm">
  @for (item of [].constructor(count()); track $index) {
    <div class="flex items-center gap-4 border-b px-4 py-4 last:border-b-0">
    <div class="h-4 w-32 animate-pulse rounded bg-muted"></div>
    <div class="h-4 w-40 animate-pulse rounded bg-muted"></div>
    <div class="h-4 w-48 animate-pulse rounded bg-muted"></div>
    <div class="h-4 w-20 animate-pulse rounded bg-muted"></div>
    <div class="h-4 w-20 animate-pulse rounded bg-muted"></div>
    <div class="ml-auto h-8 w-24 animate-pulse rounded bg-muted"></div>
  </div>
  }
</div>